@using Webdiyer.WebControls.Mvc;

@model PagedList<DbModel.Location.AreaAndDev.DevType>

@{
    ViewBag.Title = "Index";
}

<h2>设备类型</h2>

<p>
    @Ajax.ActionLink("新建", "Create", "DevType", new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "modalContent",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFailure",
    OnComplete = "onComplete"
})
</p>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
            </div>
        </div>
    </div>
</div>

<form action="/DevType/SearchByClass"> 按大类搜索：<input name="Class" type="text" /><input type="submit" value="查询"></form>
<form action="/DevType/SearchByTypeName"> 按模型名称搜索：<input name="TypeName" type="text" /><input type="submit" value="查询"></form>
<form action="/DevType/SearchByTypeCode"> 按类型编号搜索：<input name="Typecode" type="text" /><input type="submit" value="查询"></form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrontElevation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufactor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FrontElevation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufactor)
        </td>
        <td>
            @Ajax.ActionLink("编辑", "Edit", "DevType", new { id = item.Id }, new AjaxOptions
       {
           HttpMethod = "Get",
           UpdateTargetId = "modalContent",
           InsertionMode = InsertionMode.Replace,
           OnBegin = "onBegin",
           OnSuccess = "onSuccess",
           OnFailure = "onFailure",
           OnComplete = "onComplete"
       }) |

            @Ajax.ActionLink("详情", "Details", "DevType", new { id = item.Id }, new AjaxOptions
       {
           HttpMethod = "GET",
           UpdateTargetId = "modalContent",
           InsertionMode = InsertionMode.Replace,
           OnBegin = "onBegin",
           OnSuccess = "onSuccess",
           OnFailure = "onFailure",
           OnComplete = "onComplete"
       }) |

            @Ajax.ActionLink("删除", "Delete", "DevType", new { id = item.Id }, new AjaxOptions
       {
           HttpMethod = "GET",
           UpdateTargetId = "modalContent",
           InsertionMode = InsertionMode.Replace,
           OnBegin = "onBegin",
           OnSuccess = "onSuccess",
           OnFailure = "onFailure",
           OnComplete = "onComplete"
       })
        </td>
    </tr>
}

</table>
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageIndex", Id = "htmlPager", FirstPageText = "首页", LastPageText = "尾页", NextPageText = ">", PrevPageText = "<", ContainerTagName = "ul", CssClass = "pagination pagination-sm", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Scripts/jqueryui-1.12.1.js"></script>
<script src="~/Scripts/indexmodal.js"></script>