@model IEnumerable<DbModel.Location.Work.MobileInspection>

@{
    ViewBag.Title = "Index";
}

<h2>巡检轨迹</h2>

<p>
    @Html.ActionLink("新建", "Create")&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/MobileInspectionDev/Index">设置巡检设备</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="/PersonnelMobileInspection/Index">人员巡检轨迹分配与查看</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>操作项数量</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@item.Items.Count</td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                @Html.ActionLink("详情", "Detail", new { id = item.Id }) |
                @Html.ActionLink("删除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
