@model Location.Model.Map

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Map</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxZ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
