@using CommunicationClass.SihuiThermalPowerPlant
@using CommunicationClass.SihuiThermalPowerPlant.Models
@model CommunicationClass.SihuiThermalPowerPlant.BaseTran<cards>

<!DOCTYPE html>
<html>
<head>
    <style>
        span {
            display: inline-block;
            width: 200px;
            text-align: right;
        }
    </style>
    <title>GetCardList</title>
</head>
<body>
    <h2>GetCardList</h2>
    <form>
        <span>@Html.DisplayNameFor(model => model.total)：</span><input type="text" value=@Model.total readonly="readonly" /><br />
        <span>@Html.DisplayNameFor(model => model.msg)：</span><input type="text" value=@Model.msg readonly="readonly" /><br />
    </form>
    <table class="table">
        <caption style="text-align:left">门禁卡列表</caption>
        <tr>
            <th>标识</th>
            <th>门禁卡号</th>
            <th>当前绑定人员标识</th>
            <th>卡状态</th>
        </tr>
        @foreach (cards item in Model.data)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.code</td>
                <td>@item.emp_id</td>
                <td>@item.state</td>
            </tr>
        }
    </table>
</body>
</html>





