@model DbModel.Location.AreaAndDev.DevModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_SetModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
