@using Webdiyer.WebControls.Mvc;

@model PagedList<DbModel.Location.AreaAndDev.DevModel>
@{
    ViewBag.Title = "Index";
}

<h2>设备模型</h2>

<p>
    @Ajax.ActionLink("新建", "Create", "DevModel", new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "modalContent",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "onBegin",
    OnSuccess = "onSuccess",
    OnFailure = "onFailure",
    OnComplete = "onComplete"
})
</p>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
            </div>
        </div>
    </div>
</div>

<form action="/DevModel/SearchByClass"> 按大类查询：@Html.TextBox("Class") <input type="submit" value="查询"></form>
<form action="/DevModel/SearchByItem"> 按大项查询：@Html.TextBox("Item") <input type="submit" value="查询"></form>
<form action="/DevModel/SearchByName"> 按名称查询：@Html.TextBox("Name") <input type="submit" value="查询"></form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Items)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>           
            @Ajax.ActionLink("编辑", "Edit", "DevModel", new { id = item.Id }, new AjaxOptions
       {
           HttpMethod = "Get",
           UpdateTargetId = "modalContent",
           InsertionMode = InsertionMode.Replace,
           OnBegin = "onBegin",
           OnSuccess = "onSuccess",
           OnFailure = "onFailure",
           OnComplete = "onComplete"
       }) |

            @Ajax.ActionLink("详情", "Details", "DevModel", new { id = item.Id }, new AjaxOptions
           {
               HttpMethod = "GET",
               UpdateTargetId = "modalContent",
               InsertionMode = InsertionMode.Replace,
               OnBegin = "onBegin",
               OnSuccess = "onSuccess",
               OnFailure = "onFailure",
               OnComplete = "onComplete"
           }) |

            @Ajax.ActionLink("删除", "Delete", "DevModel", new { id = item.Id }, new AjaxOptions
           {
               HttpMethod = "GET",
               UpdateTargetId = "modalContent",
               InsertionMode = InsertionMode.Replace,
               OnBegin = "onBegin",
               OnSuccess = "onSuccess",
               OnFailure = "onFailure",
               OnComplete = "onComplete"
           })
        </td>
    </tr>
}

</table>
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageIndex", Id = "htmlPager", FirstPageText = "首页", LastPageText = "尾页", NextPageText = ">", PrevPageText = "<", ContainerTagName = "ul", CssClass = "pagination pagination-sm", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Scripts/jqueryui-1.12.1.js"></script>
<script src="~/Scripts/indexmodal.js"></script>