@using Webdiyer.WebControls.Mvc;
@using Location.Model;
@model IEnumerable<DbModel.Location.Authorizations.CardRole>

@{
    ViewBag.Title = "设定权限角色";
}

<div class="modal-header">
    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
    <h2 class="modal-title" id="myModalLabel">设定权限角色 [@ViewBag.TagName]</h2>
</div>

<div class="modal-body">      
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>               
                <td>
                    @if(item.Id == ViewBag.RoleId)
                    {
                        <input type="radio" name="choose" checked="checked" value="@item.Id" /> //选中当前角色
                    }
                    else
                    {
                        <input type="radio" name="choose" value="@item.Id" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
         <input type="button" value="确定" class="btn btn-default" id="btnRoleId" />        
    </div>
    <div>
        @Html.ActionLink("返 回", "Index")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">          
    $(function () {
        $("#btnRoleId").click(function () {
            var choosedRoleId = $('input:radio[name="choose"]:checked').val(); //获取角色Id，和上面的item.Id对应，上面设置这里获取   
            if (choosedRoleId == null) {
                alert("未选择，不修改标签角色！");
            }
            else if(choosedRoleId == @ViewBag.RoleId) {
                alert("没有修改所属角色");
            }                
            else {
                var roleset = {} //javascript创建空对象
                roleset.tagId = @ViewBag.TagId;//给对象创建属性并赋值 使用后台传递的参数
                roleset.roleId = choosedRoleId;//给对象创建属性并赋值
        
                $.ajax({                   
                    type: "Post",
                    url: "LocationCard/SetTagRole",
                    data: roleset, //传递javascript对象作为参数，而不是json字符串 data:'{"tagId":"1","roleId":"2"}',
                    //contentType: "application/json",
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        //console.log(data.success);
                        if (data.success == true) {
                            alert("标签角色设置成功！");                         
                        }
                        else {
                            alert("标签角色设置失败！");
                        }            
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {                        
                        alert("通信失败！");
                    }
                });            
            }
        });
    });
</script>



