@using DbModel.Location.Work
@model DbModel.Location.Work.WorkTicket

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h3>工作票</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonInCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonInCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadOfWorkClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadOfWorkClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTimeOfPlannedWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTimeOfPlannedWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTimeOfPlannedWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTimeOfPlannedWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lssuer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lssuer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licensor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licensor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Approver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approver)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>

<div class="form-horizontal">
    <h3>安全措施</h3>
    <table class="table">       
        <tr>
            <th>签发人填写的安全措施</th>
            <th>许可人填写的安全措施</th>
        </tr>
        @foreach (SafetyMeasures item in Model.SafetyMeasuress)
        {
            <tr>
                <td>@item.LssuerContent</td>
                <td>@item.LicensorContent</td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返 回", "Index")
</p>