@using DbModel.Location.Work
@model DbModel.Location.Work.WorkTicket

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>工作票</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonInCharge, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PersonInCharge, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonInCharge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeadOfWorkClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HeadOfWorkClass, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeadOfWorkClass, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkPlace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkPlace, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkPlace, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobContent, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTimeOfPlannedWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="datetime-local" name="StartTimeOfPlannedWork" value=@Model.StartTimeOfPlannedWork.ToString("yyyy-MM-ddThh:mm:ss") />
                @*@Html.EditorFor(model => model.StartTimeOfPlannedWork, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })*@
                @Html.ValidationMessageFor(model => model.StartTimeOfPlannedWork, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTimeOfPlannedWork, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="datetime-local" name="EndTimeOfPlannedWork" value=@Model.EndTimeOfPlannedWork.ToString("yyyy-MM-ddThh:mm:ss") />
                @*@Html.EditorFor(model => model.EndTimeOfPlannedWork, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })*@
                @Html.ValidationMessageFor(model => model.EndTimeOfPlannedWork, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkCondition, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkCondition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkCondition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lssuer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lssuer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lssuer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Licensor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Licensor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Licensor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Approver, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Approver, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Approver, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>     
    </div>
    <div class="form-horizontal">
        <h3>操作项</h3>
        <h4><a href="/WorkTicket/CreateSafetyMeasures/@Model.Id">Create SafetyMeasures</a></h4>
        <table class="table">           
            <tr>
                <th>签发人填写的安全措施</th>
                <th>许可人填写的安全措施</th>
            </tr>
            @foreach (SafetyMeasures item in Model.SafetyMeasuress)
                {
                <tr>
                    <td>@item.LssuerContent</td>
                    <td>@item.LicensorContent</td>
                    <td>
                        @Html.ActionLink("编辑", "EditSafetyMeasures", new { id = item.Id }) |
                        @Html.ActionLink("删除", "DeleteSafetyMeasures", new { id = item.Id, TicketId = item.WorkTicketId })
                    </td>
                </tr>
            }
        </table>
    </div>

    <p>
        <input type="submit" value="Save" /> |
        <a href="/WorkTicket/Index">返 回</a>
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


