@model IEnumerable<DbModel.Location.Work.WorkTicket>
@using DbModel.Location.Work

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.No)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobContent)
            </th>
        </tr>
        @foreach (WorkTicket item in Model)
            {
            <tr>
                <td>@item.No</td>
                <td>@item.JobContent</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detail", "Detail", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("完成", "Finish", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

</body>
</html>
