<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 定位管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        body div.container {
            margin: 0px 130px;
            max-width: none;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("定位管理系统", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            定位监控
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("基站", "Index", "Archors")</li>
                            <li>@Html.ActionLink("标签", "Index", "LocationCard")</li>
                            <li>@Html.ActionLink("实时位置", "Index", "LocationCardPosition")</li>
                            <li>@Html.ActionLink("历史轨迹", "Index", "Positions")</li>
                            <li>@Html.ActionLink("定位告警", "Index", "Alarms")</li>
                            <li>@Html.ActionLink("定位图片", "Index", "Images")</li>
                            <li>@Html.ActionLink("标签角色", "Index", "CardRole")</li>
                            <li>@Html.ActionLink("电子围栏", "Index", "AreaAuthorizationRecord")</li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            区域设备
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("区域列表", "Index", "Area")</li>
                            <li>@Html.ActionLink("区域树", "Tree", "Area")</li>
                            <li>@Html.ActionLink("区域权限", "Index", "AreaAuthorization")</li>
                            <li>@Html.ActionLink("设备信息", "Index", "DevInfo")</li>
                            <li>@Html.ActionLink("设备模型", "Index", "DevModel")</li>
                            <li>@Html.ActionLink("设备类型", "Index", "DevType")</li>
                            <li>@Html.ActionLink("设备告警", "Index", "Alarms")</li>                            
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            部门人员
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("部门列表", "Index", "Departments")</li>
                            <li>@Html.ActionLink("部门树", "Tree", "Departments")</li>
                            <li>@Html.ActionLink("人员信息", "Index", "Personnel")</li>
                            <li>@Html.ActionLink("岗位", "Index", "Post")</li>                           
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            对接
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("KKS码", "Index", "KKSCode")</li>
                            <li>@Html.ActionLink("操作票", "Index", "OperationTicket")</li>
                            <li>@Html.ActionLink("工作票", "Index", "WorkTicket")</li>                         
                            <li>@Html.ActionLink("巡检轨迹", "Index", "InspectionTrack")</li>
                        </ul>
                    </li> 
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            管理
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("用户管理", "Index", "User")</li>
                        </ul>
                    </li>                   
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            测试
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("ClearTopoTable", "ClearTopoTable", "DataInit")</li>
                            <li>@Html.ActionLink("InitTopo", "InitTopo", "DataInit")</li>
                            <li>@Html.ActionLink("ClearTest", "ClearTest", "DataInit")</li>
                            <li>@Html.ActionLink("重建数据库", "InitDb", "DataInit")</li>
                            <li>@Html.ActionLink("初始化内容", "InitDbData", "DataInit")</li>
                            <li>@Html.ActionLink("保存初始数据", "SaveInitInfoXml", "DataInit")</li>
                            <li>@Html.ActionLink("读取初始数据", "LoadInitInfoXml", "DataInit")</li>
                        </ul>
                    </li>                   
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            三维程序
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="LocationSystem:" id="openExe">启动(管理)</a>
                            </li>
                            <li>
                                <a href="LocationSystem:" id="openExe_guest">启动(一般)</a>
                            </li>
                            <li>
                                <a id="downLoading">下载</a>
                            </li>
                        </ul>
                    </li>                                                                                                                       
                </ul>
                             
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr style="width:1614px;" />
            <p>&copy; @DateTime.Now.Year - 定位管理系统</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryajax")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/LocationSystem.js"></script>
    <script src="~/Scripts/protocolcheck.js"></script>
    
</body>
</html>
