@using DbModel.Location.Work
@model DbModel.Location.Work.OperationTicket

@{
    ViewBag.Title = "Details";
}
    
<h2>Details</h2>

<div>
    <h3>操作票</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationTask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationTask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationEndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guardian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guardian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator)  
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DutyOfficer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DutyOfficer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dispatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dispatch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>

<div class="form-horizontal">
    <h3>操作项</h3>
    <table class="table">
        <tr>
            <th>操作时间</th>
            <th>记号</th>
            <th>顺序</th>
            <th>操作项目</th>
        </tr>
        @foreach (OperationItem item in Model.OperationItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>               
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回", "Index")
</p>


