@model IEnumerable<DbModel.Location.Work.OperationTicket>
@using DbModel.Location.Work

@{
    ViewBag.Title = "Index";
}

<h2>操作票</h2>
<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationTask)
        </th>
    </tr>
    @foreach (OperationTicket item in Model)
            {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.No)</td>
            <td>@Html.DisplayFor(modelItem => item.OperationTask)</td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.Id }) |
                @Html.ActionLink("详情", "Details", new { id = item.Id }) |
                @Html.ActionLink("删除", "Delete", new { id = item.Id }) |
                @Html.ActionLink("完成", "Finish", new { id = item.Id })
            </td>
        </tr>
    }
</table>

    
