@using CommunicationClass.SihuiThermalPowerPlant.Models
@model CommunicationClass.SihuiThermalPowerPlant.BaseTran<events>

<!DOCTYPE html>
<html>
<head>
    <style>
        span {
            display: inline-block;
            width: 200px;
            text-align: right;
        }
    </style>
    <title>GeteventsList</title>
</head>
<body>
    <h2>GeteventsList</h2>
    <form>
        <span>@Html.DisplayNameFor(model => model.total)：</span><input type="text" value=@Model.total readonly="readonly" /><br />
        <span>@Html.DisplayNameFor(model => model.msg)：</span><input type="text" value=@Model.msg readonly="readonly" /><br />
    </form>
    <table class="table">
        <caption style="text-align:left">设备信息</caption>
        <tr>
            <th>标识</th>
            <th>标题</th>
            <th>内容</th>
            <th>级别</th>
            <th>代码</th>
            <th>来源</th>
            <th>设备ID</th>
            <th>设备说明</th>
            <th>时间戳</th>
        </tr>
        @foreach (events item in Model.data)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.title</td>
                <td>@item.msg</td>
                <td>@item.level</td>
                <td>@item.code</td>
                <td>@item.src</td>
                <td>@item.device_id</td>
                <td>@item.device_desc</td>
                <td>@item.t</td>
            </tr>
        }
    </table>
</body>
</html>
